<h1>Mission Statement</h1>

<p>Rent-A-Pet connects shelters with trusted local people who would love to look after a dog, but may not be be able to provide a full time commitment or proper housing arrangements. We make it easy to schedule walks, playtime, overnight stays or holidays. Our aim is to help dogs and their temporary humans with companionship, exercise,  socialization, and even a trial run to see if a particular breed is a good fit. We call it a win-win (or a woof-­woof) situation for everyone involved.</p>

<img src="https://images.pexels.com/photos/1143369/pexels-photo-1143369.jpeg?cs=srgb&dl=woman-wearing-bikini-walking-on-beach-shore-with-adult-brown-1143369.jpg&fm=jpg" alt="Dog on Beach" width="500" height="600">

<br>
<%= link_to("Sign up", signup_path)%>
<br>
<%= link_to("Login", login_path)%>